* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Contenedor principal */
.wrap-container {
  display: flex;
  gap: 20px;
  max-width: 1400px;
  padding: 0px 20px;
}

/* Barra lateral */
aside {
  width: 350px;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título */
nav h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Grupo de formulario */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 10px;
}

.row .form-group {
  width: 50%;
}

.row p {
  width: 70%;
  margin: auto;
  text-align: center;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 80px;
}

/* Botones */
.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.dark {
  background-color: #000;
  color: white;
}

.primary {
  background-color: #007bff;
  color: #fff;
}

.btn:hover {
  background: #0056b3;
}

/* Sección donde se renderiza la tabla */
main {
  flex-grow: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 400px;
  text-align: center;
}

.wrap-details{
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 16px;
  font-weight: 200;
  text-align:center;
  margin-bottom: 10px;
}

.details-available, .details-sold{
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px
  /* display: flex;
  align-items: center;
  text-align: center; */
}

.wrap-details .total-detail{
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
  margin-top: 5px;
}


.wrap-info {
  max-width: 500px;
  text-align: center;
  margin: auto auto;
  align-items: center;
  justify-content: center;
}

.wrap-info:not(:last-child) {
  margin: 45px auto 0px;
}

.wrap-info h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.wrap-info p {
  font-size: 18px;
  color: #555;
}
.wrap-info .comments {
  font-size: 14px;
  color: #000;
}

.wrap-table {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-height: 400px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  font-family: sans-serif;
}

td {
  border: 1px solid #000;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  width: 40px;
  height: 40px;
}

.selected {
  background-color: red;
  cursor: pointer;
  text-decoration: line-through;
}

td:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

/* Responsiveness */
@media (max-width: 920px) {
  .wrap-container {
    padding: 0px 10px;
    flex-direction: column;
    gap: 10px;
  }
  aside {
    display: none;
  }
  main {
    width: 100%;
  }
  td {
    height: 25px;
    font-size: 16px;
    height: 25px;
  }
}
